﻿@model List<Web.Models.DonateViewModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "../Shared/_Secure.cshtml";
}

<br/>
<br/>
<br/>

<div class="row">
    <div class="col-lg-3 col-lg-offset-3 text-center">
        <a class="btn-lg btn btn-success" href="../Items/ListOfItems">See whats been donated</a>
    </div>
    <div class="col-lg-3 text-center">
        <a class="btn-lg btn btn-success" href="../Items/DonateItems">Donate something to help</a>
    </div>
</div>

<br/>
<br/>
<br/>

<div>

    @foreach (var i in Model)
    {
        <div class="panel panel-default col-lg-3">
            <img  alt="No Image" class="img-rounded text-center" src="http://placehold.it/240x240/000/fff?text=NoImage" data-holder-rendered="true" style="height: 240px; width: 240px;">
            <div class="panel-body">
                <h4>@i.Name</h4>
                <p>@i.Description</p>                
                <h5>@i.ItemType, @i.QualityType</h5>                
                
                <h4 class="pull-right">@i.DonatedDate.ToLongDateString()</h4>
            </div>
        </div>
    }

</div>