﻿@{
    ViewBag.Title = "Home Page";
    Layout = "../shared/_Front.cshtml";
}

<style type="text/css">
    /*body {
        overflow:hidden;
    }*/
    
</style>

<div class="row">
    <div class="col-md-12 " style="background-color: #fff2df; background-image: url(../../Content/iu-9.jpeg); background-position: center; background-repeat: no-repeat; height: 600px; padding: 0px;">
        <br/>
        <br/>
        <br/>

        <div class="text-center">
            @Html.Partial("PartialLogo")

            <br/>
            <br/>
        </div>

        <div class="col-lg-offset-4 col-lg-4">
            <div class="text-center">

                <p style="background-color: antiquewhite; border: 1px; border-color: darkgray; border-style: solid; color: black; padding: 20px" class="lead">Do you have anything that you don't want that could help a homeless person</p>

                <p>
                    <a class="btn btn-success btn-lg" href="../Home/Login">Click to Help!</a>
                </p>
            </div>
        </div>


    </div>
</div>

<br/>
<br/>
<br/>

<div class="row">
    <div class="col-md-4">
        <h2>#HomelessHack</h2>
        <p>
            ...is a 2-day event for anyone interested in helping tackle the problem of homelessness in Manchester and support those currently facing it.
        </p>

    </div>
    <div class="col-md-4">
        <h2>About the event</h2>
        <p>This event builds on the London Homeless Hack but seeks to engage the NorthWest digital community in helping to reduce the specific problems in Manchester.</p>
        <p>
            <a class="btn btn-success" href="https://www.manchesterdigital.com/events/homelesshack">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Why take part?</h2>
        <p>Rough sleeping in Greater Manchester has shot up a massive 41% in the last year, figures from January 2017 revealed. Numbers have now QUADRUPLED since 2010, rising steadily each year. Figures - based on estimates carried out on one night in November 2016 </p>
        <p>
            <a class="btn btn-success btn-lg" href="../Home/LearnMore">Whats needed?</a>
        </p>
    </div>
</div>

<br/>
<br/>
<br/>