﻿
@{
    ViewBag.Title = "LearnMore";
}

<h2>Homeless people need any of the following..</h2>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">ITEMS TO INCLUDE:</div>
    <div class="panel-body">
        <p>A typical Care Kit consists of a watertight gallon-size zipper lock plastic bag filled with items like</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">Water bottle                                                   </li>
        <li class="list-group-item">Socks                                                          </li>
        <li class="list-group-item">Tuna and crackers                                              </li>
        <li class="list-group-item">Granola Bar or cereal bar                                      </li>
        <li class="list-group-item">Fruit snack or applesauce cup                                  </li>
        <li class="list-group-item">Crackers with peanut butter or cheese                          </li>
        <li class="list-group-item">Gift certificate to fast food                                  </li>
        <li class="list-group-item">Hand wipes                                                     </li>
        <li class="list-group-item">Pack of Kleenex                                                </li>
        <li class="list-group-item">Maxi pads                                                      </li>
        <li class="list-group-item">Toothbrush and toothpaste                                      </li>
        <li class="list-group-item">Nail clippers                                                  </li>
        <li class="list-group-item">Band Aids                                                      </li>
        <li class="list-group-item">Chapstick                                                      </li>
        <li class="list-group-item">Comb or small brush                                            </li>
        <li class="list-group-item">Mints, cough drops or gum                                      </li>
    </ul>
</div>