﻿@model Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="row">


    
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><img class="text-center" src="../../Content/logo.png" /></div>
        <div class="col-lg-4"></div>
    </div>

    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-4"> </div>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new {id = "loginform", @class = "form-horizontal col-lg-4"}))
        {
            <div class="form-group">
                @Html.LabelFor(c => c.Username)
                @Html.TextBoxFor(c => c.Username, new {@class = "form-control" })
                @Html.ValidationMessageFor(c => c.Username, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Password)
                @Html.TextBoxFor(c => c.Password, new {@class = "form-control", type="password"})
                @Html.ValidationMessageFor(c => c.Password, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        }
       
        <div class="col-lg-4"> </div>
    </div>
</div>

<br/>
<br/> <br/>
<br/> <br/>
<br/>