﻿
@{
    ViewBag.Title = "Registered";
}



@Html.Partial("PartialLogo")

<br />
<br />

<div class="row">
    <div class="col-lg-offset-4 col-lg-4">
        <div class="text-center">
            <h1>Great you've registered..</h1>
            <br/>
            <a href="Login" class="btn btn-primary btn-lg">Click to log in..</a>
        </div>
    </div>
</div>

<br />
<br />
<br />