﻿@model Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<br/>
<br/>

<h3>Please fill out a few details and you can begin helping...</h3>

<br/>

<div class="row">
    <div class="col-lg-12">

        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new {id = "Form Name", @class = "form-horizontal"}))
        {
            <div class="form-group">
                @Html.LabelFor(c => c.UserName, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.UserName, new {@class = "form-control", style = "width:100%", placeholder = "Username"})
                    @Html.ValidationMessageFor(c => c.UserName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Password, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.Password, new { @class = "form-control", style = "width:100%", placeholder = "Password", type = "password" })
                    @Html.ValidationMessageFor(c => c.Password, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.RepeatPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.RepeatPassword, new { @class = "form-control", style = "width:100%", placeholder = "Repeat Password", type = "password" })
                    @Html.ValidationMessageFor(c => c.RepeatPassword, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ContactName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.ContactName, new { @class = "form-control", style = "width:100%", placeholder = "ContactName" })
                    @Html.ValidationMessageFor(c => c.ContactName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.Address, new { @class = "form-control", style = "width:100%", placeholder = "Address" })
                    @Html.ValidationMessageFor(c => c.Address, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Postcode, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.Postcode, new { @class = "form-control", style = "width:100%", placeholder = "Postcode" })
                    @Html.ValidationMessageFor(c => c.Postcode, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.PhoneNumber, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.PhoneNumber, new { @class = "form-control", style = "width:100%", placeholder = "Phone number" })
                    @Html.ValidationMessageFor(c => c.PhoneNumber, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control", style = "width:100%", placeholder = "Email" })
                    @Html.ValidationMessageFor(c => c.Email, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Register for JustSpare</button>
                </div>
            </div>
        }
    </div>
</div>

<br />
<br />