﻿@using Web.Models
@model List<DonateViewModel>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td><b>Name</b></td>
                <td><b>Description</b></td>
                <td><b>Type</b></td>
                <td><b>Date Donated</b></td>
                <td><b>Amount</b></td>
                <td><b>Donated by</b></td>
            </tr>
            </thead>
            <tbody>

            @foreach (DonateViewModel i in Model)
            {
                <tr>
                    <td><a>@i.Name</a></td>
                    <td>@i.Description</td>
                    <td>@i.ItemType</td>
                    <td>@i.DonatedDate.ToShortDateString()</td>
                    <td>@i.NumberOf</td>
                    <td>@i.DonatedBy</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>