﻿@model Web.Models.DonateViewModel
@{
    ViewBag.Title = "DonateItems";
    Layout = "../Shared/_Secure.cshtml";
}

<h2>Donate Items</h2>


<div class="row">
    <div class="col-lg-12">

        @using (Html.BeginForm("DonateItems", "Items", FormMethod.Post, new { id = "Form Name", @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(c => c.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control", style = "width:100%", placeholder = "Item name" })
                    @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Description, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextAreaFor(c => c.Description, new { @class = "form-control", style = "width:100%", placeholder = "Description" })
                    @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.NumberOf, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.TextBoxFor(c => c.NumberOf, new { @class = "form-control", style = "width:100%", placeholder = "Number of item" })
                    @Html.ValidationMessageFor(c => c.NumberOf, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ItemType, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.EnumDropDownListFor(c=>c.ItemType, new { @class = "form-control", style = "width:100%"})
                    @Html.ValidationMessageFor(c => c.ItemType, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.QualityType, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4 col-lg-4 col-md-4">
                    @Html.EnumDropDownListFor(c => c.QualityType, new { @class = "form-control", style = "width:100%" })
                    @Html.ValidationMessageFor(c => c.QualityType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Donate!!</button>
                </div>
            </div>
        }
    </div>
</div>


@*public string Name { get; set; }
public int NumberOf { get; set; }

public string Description { get; set; }

public Enums.QualityType QualityType { get; set; }
public Enums.ItemType ItemType { get; set; }*@