﻿@model List<Web.Models.DonateViewModel>
@{
    ViewBag.Title = "ItemsClaimed";
    Layout = "~/Views/Shared/_Secure.cshtml";
}

@{
    if (Model.Count > 0)
    {
        <h2>Items Claimed</h2>

        Html.RenderPartial("ListOfItemsPartial", Model);
    }
    else
    {
        <h3>You haven't claimed any items!</h3>
    }
}

<br/>
<br/>
<br/>
<br/>