﻿@model List<Web.Models.DonateViewModel>
@{
    ViewBag.Title = "ListOfItems";
    Layout = "../Shared/_Secure.cshtml";
}

<h2>Donations</h2>

<div class="row">
    <div class="col-lg-3">
    </div>


    @using (Html.BeginForm("ListOfItems", "Items", FormMethod.Post, new {id = "loginform", onsubmit = "return confirm('Are you sure you wish to claim these items?');"}))
    {
        <div class="col-lg-6">
            <div class="list-group">

                @for (var i = 0; i < Model.Count; i++)
                {
                    @Html.HiddenFor(c => c[i].Id)
                    <a class="list-group-item">
                        <div class="pull-right btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                @Html.CheckBoxFor(c => c[i].ItemSelected) Claim
                            </label>
                        </div>
                        <h4 class="list-group-item-heading">@Model[i].Name</h4>
                        <p class="list-group-item-text">@Model[i].Description</p>
                        <p class="list-group-item-text text-success">@Model[i].ItemType</p>
                        <p class="list-group-item-text text-primary">Amount Available: @Model[i].NumberOf</p>
                        <p class="list-group-item-text text-primary">@Model[i].QualityType</p>

                    </a>
                }

            </div>
            
            @{
                if (Model.Count != 0)
                {
                    <button type="submit" class="btn btn-danger">Make Claim</button>
                }
                else
                {
                    <h4>Unfortunately there is nothing available at the moment :-(</h4>
                    <h4>Please look back later!</h4>
                }
            }
            

        </div>
    }
</div>