﻿@using Web.Models
@model List<DonateViewModel>
@{
    ViewBag.Title = "UserListOfItems";
    Layout = "../Shared/_Secure.cshtml";
}



@{
    if (Model.Count > 0)
    {
        <h2>Your Donations</h2>

        Html.RenderPartial("ListOfItemsPartial", Model);
    }
    else
    {
        <h3>You haven't donated anything just yet!</h3>
    }
}

<br/>
<br />
<br />
<br />
